.modal {
    font-family: cursive;
    font-size: 1.5rem;
}
.modal-content {
    background-color: #62198a;
    color: #fff;
    border-radius: 16px;
}

.modal .btn-close {
    color: #fff !important;
    align-self: flex-end;
}