@font-face {
  font-family: romman;
  src: url(./fonts/romman.woff2);
}

body {
  margin: 0;
  font-family: romman, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


